body{
  
}

.header {
    background-image: url('https://s3-alpha-sig.figma.com/img/d055/35c1/dc806874b6b1ae855fcc702d23d8879e?Expires=1739145600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=DmkElmBH6~gV7OG7tWi3gk0sbJDYl~YYCEFq3ZhzxRgythQTOz9G30DwwbqDdf3RA9gkIj-GkJ6lh4SXaI-0VKDGFDPAUey8UIlW405du-BQC-t7EYZC5exwqBt6HOqZiuIURwdMgRpYfIWW4Si5pnTPZ1tMoUK4TOWlX1BYK6WIGmQxJt4KF3S-CJK4gx5dg3blMMp9EybPMaMYlWb~mtfFmjnXJ7V5ps32foQ2ZFouUjXE2J0n5z2vEGuLlYUVcVcfATnEYmkYQmujbPkDJCUmts63tDOrDqG5VV5YU~fE-3eZCJxNNB6rYBnISfQWAH06lcLhTLNx8lg0Xmes7Q__');
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.headerelements{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 0px 10px 0px;
}

.open-sans {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.float {
  float: left;
}

h1{
  font-family: "Open Sans", serif;
  font-size: 60px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textheader{
  font-family: "Open Sans", serif;
  font-size: 16 px;
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.textheader-2{
  font-family: "Open Sans", serif;
  font-size: 11 px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu{
  display: flex;
  height: 18px;
  margin: 249 30 0 30;

}

nav ul {
  font-family: "Open Sans", serif;
  color: rgba(72, 85, 91, 1);
  width: 941px;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #000;
  text-decoration: none;
}

.h2{
  font-family: "Open Sans", serif;
  font-weight: bold;
  font-size: 18 px;
  letter-spacing: 2px;
  color: rgba(72, 85, 91, 1);
  text-align: center;
}

.h5{
  font-family: "Open Sans", serif;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
  color: rgba(72, 85, 91, 1);
  text-align: left;
}

h3{
  font-family: "Open Sans", serif;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(72, 85, 91, 1);
}

.textbold{
  font-family: "Open Sans", serif;
  font-weight: bold;
  font-size: 20 px;
  color: rgba(72, 85, 91, 1);
  text-align: left;
  width: 405px;
}

.text{
  font-family: "Open Sans", serif;
  font-size: 13 px;
  color: rgba(72, 85, 91, 1);
  text-align: left;
  width: 405px;
}

.text3{
  font-family: "Open Sans", serif;
  font-size: 13 px;
  color: rgba(72, 85, 91, 1);
  text-align: left;
}

.block3{
  margin: 58px 250px 118px 250px;
}

.blocktext{
  display: inline-block;
}

.blockimg{
  display: inline-block;
}

.image2{
  position: relative;
  display: inline-block;
  margin: 14px;
}

.overlay{
  position: absolute;
  top: 15%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-family: "Open Sans";
  font-size: 24px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.rectangle{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 2px;
  background-color: rgba(0, 164, 229, 1);
}

.rectangle2{
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: rgba(0, 164, 229, 1);
}

.rectangle3{
  max-width: 295px;
  max-height: 330px;
  border: 1px solid rgba(230, 230, 230, 1);
  text-align: start;
  padding: 38px 20px 25px 23px;
}

span{
  color: rgba(0, 164, 229, 1);
}

.line{
  display: flex;
  justify-content: space-between;
}

.element{
  
}

.line1{
  display: flex;
  justify-content: space-between;
}

.element1{
  margin: 0px 12px 0px 12px;
}

.button[type="submit"]{
  width: 150px;
  height: 40px;
  background-color: rgba(0, 164, 229, 1);
  border: none;
  color: white;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

.inputButton{
  width: 150px;
  height: 40px;
  background-color: rgba(0, 164, 229, 1);
  border: none;
  color: white;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

.button[type="submit"].newColorBtn {
  color: #ffffff;
  background-color: #5D26C1;
}

.screen4{
  background-image: url(https://s3-alpha-sig.figma.com/img/581f/5b4b/43cb5b04fc1cbc2392456c0c0cb836a7?Expires=1739145600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=o86--7ppuX18iyALkzlbHYNVPsGHaCJgU2-Tf49d45AorNkUG6XzW~2puK8y1fcxnK8xLEnfmuqbPRnrqFuusebh7dkkcDmFRj9qW0cx472IAvdquOEWs4yy~L9dBqLK53ev3Nlh2Y7nx-i-TpSle6Z-E--1YOC4zRmVFM-UzuQdk7zPlhDxBO2HzBFTQBBW3xtuLH9V0WhJNS58m3khC7qvoyCnEtyFG9nefUlC6VsbAorqeir0NhifKuAZHGaBE0zZ804EqygVjBGUMLO8QGfM3gS06cB5lMAVL8clVefcppaE~HLzWiEuFOg5ECDL4aGjeBvHjID5gKELxyELeQ__);
  width: 100%;
  height: 499px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.screen4text{
  font-family: "Open Sans", serif;
  font-weight: bold;
  font-size: 30 px;
  color: rgba(72, 85, 91, 1);
  text-align: center;
}

.screen5{
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10px;
}

.screen5text{
  font-family: "Open Sans", serif;
  font-size: 22 px;
  color: white;
}

.screen5email{
  font-family: "Open Sans", serif;
  font-size: 14px;
  color: rgba(72, 85, 91, 1);
}

.footertext{
  font-family: "Open Sans", serif;
  font-size: 11px;
  color: white;
}

footer{
  background-color: black;
}

.rectangle4{
  max-width: 250px;
  max-height: 148px;
  border: 1px solid black;
  text-align: start;
  margin: 25px 0px 0px 0px;
}

.links{
  font-family: "Open Sans", serif;
  font-size: 11px;
  color: white;
  text-decoration: none;
  margin-right: 30px;
}

.rectangle5{
  width: 76px;
	height: 125px;
	}

.line2{
  display: flex;
  justify-content: left;
}

.element2{
  margin: 30px 0px 0px 300px;
}

.footercolumn{
  display: flex;
}

.column{
  margin: 0px 34px 0px 0px;
}

.line3{
  display: inline-block;
  height: 125px;
}

.element3{
  display: inline-block;
}

.copyright{
  text-align: center;
}

.container{
  display: grid;
  grid-template-columns: [one] 1fr [two] 1fr [three] 1fr [four] 1fr [five] 1fr [six] 1fr [seven] 1fr [eight] 1fr [nine] 1fr [ten];
}

.item1 {
  grid-column-start: 3;
  grid-column-end: 5;
}

.item2 {
  grid-column-start: 5;
  grid-column-end: 7;
}

.item3 {
  grid-column-start: 7;
  grid-column-end: 8;
}